@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

.currency {
    position: relative;
}

.currency-btn {
    cursor: pointer;
    height: 40px;
    width: 45px;
    font: 18px "Raleway", sans-serif;
    font-weight: 500;
    line-height: 29px;
    border: 2px solid transparent;
    background: transparent;
    padding: 0;
}

.currency-btn span {
    vertical-align: middle;
}

.currency-btn:hover {
    border-color: #5ECE7B;
}

.currency-btn img {
    padding: 0 2px 1px 5px;
}